body
{
min-width: 100%;
min-height: 100%;
padding: 0px;
margin: 0px;


}

a {text-decoration:none;
color: #939393;

}
a:hover {text-decoration:none;
color: white;

}

p
{
font-size: 14px;
}

#background
{
z-index: -1;
height: 100%;
width: 100%;
top: 0px;
position: fixed;
margin: 0px;
min-width: 1910px;
min-height: 1060px;

}

#headerpic
{
min-width: 1000px;

}


#fade
{
position: absolute;
z-index: 0;
}

header
{
top:0px;
z-index:1;
/*height: 240px;*/
opacity:1;
  border:0px solid black;
  margin:0px;
  position: fixed;
  width:100%;

  height: 25%;

}

#wizard
{
z-index: 0;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0;
text-align: center;
position: fixed;
width:100%;
min-width: 1000px;

}


.opacitybox
{
z-index: 0;

  margin:0px;
  padding:0px;

  opacity:0.8;
  border:0px solid #d6d6d6;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0;
margin-left: auto;
text-align: center;


  height: 100%;
  width: 50%;

}

.litentext {
    font-size: 18px ;
    color: solid black;
    text-shadow: 0 0 0.2em #fc9f3c, 0 0 0.2em #fc9f3c, 0 0 0.2em #fc9f3c;
	text-align: center;
	position: relative;
	
}



#forum
{
background: url('forumbutton12.png');
font-size: 40px;
top: 15%;
right: 10%;
position: absolute;
z-index: 1;
opacity: 0.7;
}

#forum:hover, #forum:active
{
/* background: url('forumbutton12.png'); */
opacity: 1;
z-index: 1;
}

#home
{
font-size: 40px;
top: 15%;
left: 10%;
position: absolute;
z-index: 1;
opacity: 0.7;
size: 110%;

}

#home:hover, #home:active
{
/* background: url('homebutton.png'); */
opacity: 1;
z-index: 1;
}


select
{
    width: 150px;
	height: 30px;
        font-size: 20px;
        color:#727272;
        border-radius: 15px;
        margin: 0px;
		text-align: center;
		 opacity:0.9;
		 border:solid 1px black;

}

input[type=text]
{
    background-color: #FFGFGF;
    border:solid 10px #BFBDBD;
        border-color: white;
    color: #979797;
    height: 30px;
    padding-left:10px;
	margin-top: 0px;
    width: 250px;
        
        font-size: 20px;
        font-style:Arial Black;
        border-radius: 25px;
		text-align: center;
		  opacity:0.9;
		  border:solid 1px black;
}



input[type=submit]
{
    width: 70px;
        height: 30px;
        
                margin: 10px;
					font-size: 20px;
}

input[type=reset]
{
    width: 70px;
        height: 30px;
        margin: 10px;
		font-size: 20px;
        
}
input[type=checkbox]
{

}

table
{
min-width: 1000px;
width: 100%;
color: #939393;
margin-top: 300px;

background: black;
z-index: -1;
border: solid 0px black;

}

th
{
font-size: 30px;
font-style: Verdana;
background: #3d3d3d;
height: 60px;
}

td
{
background: black;
font-size: 22px;
font-style: Verdana;
}

td a {
display: block;
height: 60px;
}

td a:hover
{
background-color:#bc6100;
color: black; 
} 

footer
{
bottom:0px;
z-index:1;
/*height: 240px;*/
background: black;

opacity:0.5;
  border:0px solid black;
  margin:0px;
  position: fixed;
  width:100%;
  height: 5%;
}
